<section class="section-spacing-profile border-top">
    <div class="container">
        <div class="row text-center">
          <div class="col-lg-4 ">
            <div class=" themeShadow p-lg-4 p-4">
                <h4> Personal Details</h4>
                <img src="{{image_file}}" alt="" class="profImg">
              
                  <h6 class="mt-4 p-1 p-h6">Username: {{current_user.username}}</h6>
                  <h6 class="mt-2  p-h6">Email: {{current_user.email}}</h6>
                  <hr class="p-hr">

                  <h4 class="mt-5"> Update Details</h4>
              <form action="{{ url_for('user_profile') }}" method="POST" >
                {{ form.hidden_tag() }}
                <div class="input-field">
                    {%if form.username.errors %}
                    {{form.username(class='is-invalid', placeholder="Username" )}}
        
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                        <span>{{error}}</span>
                        {%endfor%}
                    </div>
                    {% else %}
                    {{form.username(placeholder="Username")}}
                    <span></span>
                    {% endif %}
                </div>
                
                <div class="input-field">
                    {% if form.email.errors %}
                    {{ form.email(class="is-invalid", placeholder="Email") }}
        
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                         <span>{{error}} </span>
                        {%endfor%}
                    </div>
                    {%else%}
                    {{form.email(placeholder='Email')}}
                    <span></span>
                    {% endif %}
                     
                </div>
            
                {{form.submit()}}
  
            </form>
          </div>
          </div>
          
          <div class="col-lg-8 mt-3">
             <div class="text-start mt-2 prof-details mb-2"><h3 >Experience</h3></div>
            <div class="prof-details themeShadow p-lg-4 mt-3">
              <div class="">
                <h5 class="text-start">Projects</h5>
              </div>
              <div class="prof-content ">
                <p class="about-text mt-3 mb-2 text-start p-3"> <b>Showcase your Skills</b> <br>
                Learn the nitty gritty of development. 
                Create scalable web solutions <br> to solve real world issues</p>
              </div>
             
            
            </div>

            <div class="text-start  prof-details pt-5 pb-3"><h3 >Education</h3></div>
            <div class="prof-details themeShadow p-lg-4 mt-3">
              <div class="">
                <h5 class="text-start">Projects</h5>
              </div>
              <div class="prof-content ">
                <p class="about-text mt-3 mb-2 text-start p-3"> <b>Showcase your Skills</b> <br>
                Learn the nitty gritty of development. 
                Create scalable web solutions <br> to solve real world issues</p>
              </div>
            </div>

            <div class="text-start  prof-details pt-5 pb-3"><h3 >Work History</h3></div>
            <div class="prof-details themeShadow p-lg-4 mt-3">
              <div class="">
                <h5 class="text-start">Projects</h5>
              </div>
              <div class="prof-content ">
                <p class="about-text mt-3 mb-2 text-start p-3"> <b>Showcase your Skills</b> <br>
                Learn the nitty gritty of development. 
                Create scalable web solutions <br> to solve real world issues</p>
              </div>
            </div>

          </div>
          </div>

          

       </div>

       

       
      
      
       <div>
  
         
  </section>