{%include 'nav.html'%}
<div class="center">

    <h1> Reset Password </h1>
    <form action=" {{ url_for('reset_password_form', token=token) }} " method="POST">
        {{ form.hidden_tag() }}
        <div class="input-field">
            {%if form.password.errors%}
            {{form.password(placeholder='Create password', id='createPass', class="is-invalid")}} 
            
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span>{{error}}</span>
                {%endfor%}
            </div>
            {%else%}
            {{form.password(placeholder='Create password', id='createPass')}} 
            <i class="fas fa-eye-slash show"></i> 
            <span></span>
            {% endif %}
        </div>
        <div class="input-field">
            {%if form.confirm_password.errors%}
            {{form.confirm_password(placeholder='Confirm password', id='confirmPass', class="is-invalid")}} 
            
            <div class="invalid-feedback">
                {% for error in form.confirm_password.errors %}
                <span>{{error}}</span>
                {%endfor%}
            </div>
            {%else%}

            {{form.confirm_password(placeholder='Confirm password', id='confirmPass')}} 
            <i class="fas fa-eye-slash cshow"></i>
            <span></span>
            {%endif%}
        </div>
        {{form.submit()}}
     
    </form>
</div>

